<h1 class="text-center mt-4">The Farms</h1>

<div class="flickr_pagination" %>
  <%= will_paginate @farms, :container => false %>
</div>
<%= render 'farm' %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @farms, :container => false %>
</div>
